snippet "@pa?r?a?m?" "epidoc param" r
@type ${1}: ${2}
@param $1: ${3}
endsnippet

snippet "@ret?u?r?n?" "epidoc return" r
@return: ${1}
@rtype: ${2}
endsnippet

snippet "@rai?s?e?" "epidoc raise" r
@raise: ${1}
endsnippet

snippet "@ke?y?w?o?r?d?" "epidoc keyword" r
@keyword: ${1}
endsnippet

snippet "@?todo:?" "epidoc todo" r
@todo: ${1}
endsnippet

snippet "@?note:?" "epidoc note" r
@note: ${1}
endsnippet
